<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?edc6802a-f1d4-48fd-aeeb-48e363e3052b">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?edc6802a-f1d4-48fd-aeeb-48e363e3052b">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css?edc6802a-f1d4-48fd-aeeb-48e363e3052b">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css?edc6802a-f1d4-48fd-aeeb-48e363e3052b">
    <link type="text/css" rel="stylesheet" href="../static/styles/8-places.css?edc6802a-f1d4-48fd-aeeb-48e363e3052b">
    <link rel="icon" href="../static/images/icon.png?edc6802a-f1d4-48fd-aeeb-48e363e3052b" />
    <title>HBnB</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>
    <div class="container">
      <section class="filters">
        <div class="locations">
          <h3>States</h3>
          <h4>&nbsp;</h4>
          <div class="popover">
            <ul>
              
              <li>
                <h2>California:</h2>
                <ul>
                  
                  <li>San Francisco</li>
                  
                </ul>
              </li>
              
              <li>
                <h2>California:</h2>
                <ul>
                  
                </ul>
              </li>
              
              <li>
                <h2>California:</h2>
                <ul>
                  
                  <li>San Francisco</li>
                  
                </ul>
              </li>
              
              <li>
                <h2>California:</h2>
                <ul>
                  
                </ul>
              </li>
              
              <li>
                <h2>California:</h2>
                <ul>
                  
                </ul>
              </li>
              
              <li>
                <h2>California:</h2>
                <ul>
                  
                </ul>
              </li>
              
              <li>
                <h2>California is so cool:</h2>
                <ul>
                  
                </ul>
              </li>
              
            </ul>
          </div>
        </div>
        <div class="amenities">
          <h3>Amenities</h3>
          <h4>&nbsp;</h4>
          <div class="popover">
            <ul>
              
              <li>California</li>
              
              <li>California is so cool</li>
              
              <li>beboo</li>
              
              <li>new york</li>
              
            </ul>
          </div>
        </div>
        <button type="button">Search</button>
      </section>
      <div class="placesh1"><h1>Places</h1></div>
      <section class="places">
        <!-- <h1>Places</h1> -->

      </section>
    </div>
    <footer>
      <p>Holberton School</p>
    </footer>
  </body>
</html>